html {
  box-sizing: border-box;
  font-size: 0;
}

*,
*::before,
*::after {
  block-size: inherit;
}

.container {
  width: 1112px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.header {
  padding-top: 36px;
  padding-bottom: 100px;
}

.nav {
  height: 40px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  color: #515151;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}

.logo:hover,
.logo:focus {
  color: #1abc9c;
  font-weight: bold;
}

.nav_list{
  float: right;
}

.clearfix::after{
  content: '';
  clear: both;
  display: table;
}

.nav_item {  
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.nav_item:last-of-type {
  margin-right: 0;
}

.nav_item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #515151;
}

.nav_item a:hover,
.nav_item a:focus {
  color: #1abc9c;
}

.article_header {
  position: relative;
  font-size: 48px;
  text-align: center;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: bold;
  color: #515151;
  text-transform: uppercase;
  padding-bottom: 30px;
  margin-bottom: 90px;
}

.article_header::after {
  content: "";
  position: absolute;
  width: 164px;
  height: 8px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #1abc9c;
}

.products {
  /* padding-top: 90px; */
  padding-bottom: 106px;
}

.product__item {
  display: inline-block;
  width: 254px;
  height: 228px;
  background: #e9f0fd;
  margin-right: 32px;
  margin-bottom: 70px;
}

.product__item:nth-of-type(4n) {
  margin-right: 0px;
}

.product__item:nth-last-of-type(-n+4) {
  margin-bottom: 40px;
}

.product__item:hover .price,
.product__item:focus .price {
  background: #1abc9c;
}

.product__item:hover .price span,
.product__item:focus .price span{
  background: #7fd9c7;
}

.product__item img {
  display: block;
  width: 100%;
  height: 228px;
  margin: auto auto;
  object-fit: cover;
  overflow: hidden;
}

.price {
  display: block;
  height: 40px;
  background: #323232;
}

.price p {
  font-size: 18px;
  line-height: 40px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;  
  color: #fff;
}

.price span {
  float: right;
  width: 54px;
  text-align: center;
  background: #8c8c8c;
}

.news {
  padding-bottom: 82px;  
}

.news_item {
  display: inline-block;
  width: 348px;
  font-size: 14px;
  line-height: 20px;
}

.news_img_comment {
  position: relative;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 12px;
}

.news_img_comment::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #1abc9c;
}

.news_text {
  padding-top: 30px;
  font-family: "OpenSans", sans-serif;
}

.news_item:not(:last-child) {
  margin-right: 34px;
}

.img_div_1 { 
  background-image: url("../img/ipad-632394_960_720.jpg");
  width: 348px;
  height: 264px;
  background-repeat: no-repeat;
  background-position: 55% 0%;
  background-size: auto 120%;
  overflow: hidden;
}

.img_div_2 { 
  background-image: url("../img/slide1.jpg");
  width: 348px;
  height: 264px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  overflow: hidden;
}

.img_div_3 { 
  background-image: url("../img/product-img-5.jpg");
  width: 348px;
  height: 264px;
  background-repeat: no-repeat;
  background-position: 55% 50%;
  background-size: 110%;
  overflow: hidden;
}

.news_button {
  width: 160px;
  height: 52px;
  margin-top: 16px;
  border: 1px #4ec6ab;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  background-color: #4ec6ab;
  font-family: "OpenSans", sans-serif;
}